html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}


.card {
    width: 320px;
    height: 497px;
    border-radius: 2rem;
    padding: 1.5em;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 3em;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

p {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

img {
    width: 100%;
    border-radius: 1rem;
}