html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}


.card {
    max-width: 180px;
    border-radius: 1em;
    padding: 1.25em;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

p {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

img {
    border-radius: .5em;
}